/* =============================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }



/* =============================================================================
   Content
   ========================================================================== */

#content { }



/* =============================================================================
   Primary Content
   ========================================================================== */

#main { }



/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }

/* =============================================================================
   Single Post
   ========================================================================== */
.hentry h1{  padding: 5px 0px; border-bottom: double 3px #bfbfbf; }
.tags a {  border: 1px solid;  display: inline-block;  padding: 5px; }

/* =============================================================================
   Footer
   ========================================================================== */

#content-info { }



/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}

/***** header navigation ****/
.navbar-fixed-top, .navbar-fixed-bottom{
  position:absolute;
}
/******* side bar ******/
#sidebar.span4{
  width: 259px;
  padding-left: 20px;
}
/**** Social media share on blog page ****/
.social-media-facebook{
  float: left;
}
.social-media-twitter{
  float: left;
  padding: 0px 5px;
}
/* ==================================================================
comment form
===================================================================*/
.clearer{
  clear:both;
}
#commentform p{
  float: left;
  width:200px;
}
#commentform p .span2{
  width: 170px;
}
#commentform .input-xlarge{
  width: 570px;
}
#sub-cmt{
  float:right !important;
  padding-right: 40px;

}
/************** Comments section *********/
#comments{
  margin-bottom: 10px;
}
ol.commentlist{
  margin: 0px;
}
#comments .commentlist li{
  list-style-type: none;
}
#comments .commentlist li .comment-body,#respond{
  border: 1px solid #cccccc;
  padding: 20px;
  background: #ffffff;
}
#comments .commentlist li .comment-body .avatar{
  float: right;
}
.commentlist .children .comment-body .avatar{
  float: left !important;
}
.commentlist .children .comment-body .alert-block{
  width: 80%;
  float: right;
}
.commentlist .children .comment-body cite{
  padding-left: 10px;
}
.commentlist .comment-body cite,.commentlist .comment-body cite a{
  font-size: 18px;
  color: #666666;
  text-transform:capitalize;
}
#respond{
  padding:10px 0px 10px 18px;
  height: 240px;
}
#respond #sub-cmt{
  padding-right: 20px;
}
#comments .commentlist ul.children{
  margin-top: 10px;
}